<?xml version='1.0' encoding='utf-8'?>
<widget 
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.approvat.randomframe" 
	version="1.0.4"
	versionCode="5" >
<name>Random Frame</name>
<description>Decorate your desktop with a frame that displays random pictures from Internet</description>
<author href="http://randomframe.tk" email="artic.vb@gmail.com">
	Aniol Riu
</author>
<preference name="fullscreen" value="true" />
<icon src="res/icon.png" />
<platform name="android">
	<icon src="res/android/drawable-ldpi/ic_launcher.png" density="ldpi" />
	<icon src="res/android/drawable-mdpi/ic_launcher.png" density="mdpi" />
	<icon src="res/android/drawable-hdpi/ic_launcher.png" density="hdpi" />
	<icon src="res/android/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
</platform>

<platform name="ios">
	<!-- iOS 7.0+ -->
	<!-- iPhone / iPod Touch  -->
	<icon src="res/ios/icon-60.png" width="60" height="60" />
	<!-- iOS 6.1 -->
	<!-- iPhone / iPod Touch -->
	<icon src="res/ios/icon.png" width="57" height="57" />
	<icon src="res/ios/icon@2x.png" width="114" height="114" />
	<!-- iPad -->
	<icon src="res/ios/icon-72.png" width="72" height="72" />
	<icon src="res/ios/icon-72@2x.png" width="144" height="144" />
	<!-- iPad Spotlight and Settings Icon -->
	<icon src="res/ios/icon-50.png" width="50" height="50" />
	<icon src="res/ios/icon-50@2x.png" width="100" height="100" />
</platform>

<!-- Allow links to example.com -->
<access origin="*" />
<gap:plugin name="cordova-plugin-whitelist" source="npm" />
<!-- <plugin name="com.megster.cordova.bluetoothserial" spec="0.3.3" source="pgb" /> -->
<!-- <plugin name="org.apache.cordova.camera" spec="0.3.6" source="pgb" /> -->
<!-- <plugin name="com.jacktheripper.cordova.bluetoothserial" spec="0.3.0" source="pgb"/> mateixos metodes que bluetoothserial-->
<!--
<gap:plugin name="cordova-plugin-bluetooth-serial" source="npm"/>
<gap:plugin name="com.phonegap.plugins.pushplugin" spec="2.5.0" source="pgb" />

-->
</widget>
